[submodule "commit"]
	path = commit
	url = https://github.com/pavelsimo/commit.git
	branch = main
[submodule "changelog"]
	path = changelog
	url = https://github.com/pavelsimo/changelog.git
	branch = main
[submodule "release"]
	path = release
	url = https://github.com/pavelsimo/release.git
	branch = main
[submodule "mermaid"]
	path = mermaid
	url = https://github.com/pavelsimo/mermaid.git
	branch = main
[submodule "taste"]
	path = taste
	url = https://github.com/pavelsimo/taste.git
	branch = main
[submodule "ytd"]
	path = ytd
	url = https://github.com/pavelsimo/ytd.git
	branch = main
[submodule "review"]
	path = review
	url = https://github.com/pavelsimo/review.git
