# {{TOOL_NAME}}

{{DESCRIPTION}}

[![release](https://img.shields.io/github/v/release/{{GITHUB_USER}}/{{TOOL_NAME}}?style=flat-square&color=4d9e4d&logoColor=white)](https://github.com/{{GITHUB_USER}}/{{TOOL_NAME}}/releases)
[![license MIT](https://img.shields.io/badge/license-MIT-ffd60a?style=flat-square&logoColor=white)](LICENSE)
[![Python](https://img.shields.io/badge/Python-3.11+-3776ab?style=flat-square&logoColor=white)](https://python.org)
[![PyPI](https://img.shields.io/pypi/v/{{TOOL_NAME}}?style=flat-square&color=3775a9&logoColor=white)](https://pypi.org/project/{{TOOL_NAME}})
[![Homebrew](https://img.shields.io/badge/Homebrew-b28f62?style=flat-square&logoColor=white)](https://github.com/{{HOMEBREW_TAP}})
[![DeepWiki](https://img.shields.io/badge/DeepWiki-0088cc?style=flat-square&logoColor=white)](https://deepwiki.com/{{GITHUB_USER}}/{{TOOL_NAME}})

## Installation

### Homebrew (macOS / Linux)

```bash
brew tap {{HOMEBREW_TAP}}
brew install {{TOOL_NAME}}
```

### pip / pipx

```bash
pipx install {{TOOL_NAME}}
# or
pip install {{TOOL_NAME}}
```

### Download binary

Pre-built binaries are available on the [Releases](https://github.com/{{GITHUB_USER}}/{{TOOL_NAME}}/releases) page.

## Quick Start

```bash
# Show help
{{TOOL_NAME}} --help

# Print version
{{TOOL_NAME}} version
```

## Commands

| Command | Description |
|---------|-------------|
| `{{TOOL_NAME}} version` | Print version and exit |

## Docs

Full documentation at **[{{GITHUB_USER}}.github.io/{{TOOL_NAME}}](https://{{GITHUB_USER}}.github.io/{{TOOL_NAME}})**.

## License

MIT
